body {
  margin : 0px;
  padding : 0px;
  font-size: 11px;
  font-family: Trebuchet MS, Arial, Sans-Serif;
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-family: URW Gothic L, Arial, Sans-Serif;
}
#while_loading {
  padding: 10px;
}
#while_loading p {
  margin: 20px;
}
#map {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: gray;
}
div.TitledPortalBorder {
  border : 1px dotted #444444;
}
#loadStats {
  margin: 0px;
  padding: 5px;
  width: 250px;
  background-color: #CCC;
  font-weight: bold;
  color: black;
}
#help {
  margin: 0px;
  padding: 5px;
  width: 500px;
  background-color: #e3e6ec;
  color: black;
}
h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}
h4 {
  margin-top: 15px;
  margin-bottom: 2px;
}
p {
  margin-top: 1px;
  margin-bottom: 4px;
}
.tile {
  border: 0px;
}
.leftPanel {
  width:158px;
}

.editors .windowBackground, .muokkaimet .windowBackground {
  background-color: #444444;
  opacity: 1.0;
}
div.editors, div.muokkaimet {
  border-bottom: 1px solid #222222;
  border-top: 1px solid #505050;
}

.editDiv img {
  margin-right: 4px;
}

.infoLink {
  color: white;
  margin-left: 4px;
}

.infoDiv {
  padding-left: 0px;
  padding-right: 0px;
  font-family: URW Gothic L, Arial;
  font-weight: bold;
}

.infoDiv p {
  padding-top: 0px;
  padding-bottom: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.infoDiv p+p {
  padding-top: 0px;
}

.infoDivLink {
  color: white;
  text-decoration: none;
}

.info {
  position: absolute;
  z-index: 3;
}

.editable:hover {
  color: #ffdd66;
}
.windowTaskbarTitle .editable:hover {
  color: default;
}

.infoLayer {
  display: none;
  background: url(80_opacity_black.png);
  position: absolute;
  z-index: 8;
  padding: 4px;
  margin-left: 5px;
  margin-top: 10px;
  color: #CCCCCC;
  font-family: URW Gothic L, Arial;
  font-weight: bold;
}

.infoText {
  background: url(80_opacity_black.png);
  position: absolute;
  z-index: 3;
  color: white;
  font-family: URW Gothic L, Arial;
  font-weight: bold;
  overflow: hidden;
}

.infoLayer img {
  vertical-align: middle;
}

.emblemImage16 {
  z-index: 2;
}
.emblemImage32 {
  z-index: 2;
}

a.emblemText16 {
  color: white;
  text-decoration: none;
}
a.emblemText32 {
  color: white;
  text-decoration: none;
}
a.emblemText16:visited {
  color: #DDDDDD;
}
a.emblemText32:visited {
  color: #DDDDDD;
}

.emblemText16 {
  position: absolute;
  left: 8px;
  top: 0px;
  height: 16px;
  font-family: URW Gothic L, Arial;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  padding-left:12px;
  padding-right:4px;
  background: url(80_opacity_black.png);
  z-index: 1;
}
.emblemText32 {
  position: absolute;
  left: 16px;
  top: 8px;
  height: 16px;
  font-family: URW Gothic L, Arial;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  padding-left:20px;
  padding-right:4px;
  background: url(80_opacity_black.png);
  z-index: 1;
}

a {
  color: white;
}

a:visited {
  color: #AAAAAA;
}

.editors {
  max-width: 50em;
}
.editors .windowContent {
  overflow: auto;
}

.editor h3 {
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 6px;
}
.editor h4 {
  font-size: 13px;
  text-align: center;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 1px solid #CCCCCC;
  margin-top: 2px;
  margin-bottom: 2px;
}
.editor h5 {
  font-size: 11px;
  margin-bottom: 0px;
  margin-top: 4px;
}

.editor div {
  margin-left: 5%;
  margin-right: 5%;
  background: none;
}

.editor input[type=text] {
  width: 100%;
  background-color: #222222;
  border: 0px;
  border-bottom: 1px solid #666666;
  color: white;
  padding: 0px;
  text-indent: 2px;
  font-family: Trebuchet MS, Arial;
  font-weight: normal;
}
.editor textarea {
  width: 100%;
  background-color: #DDDDDD;
  color: black;
  border: 0px;
  height: 10em;
  padding: 2px;
  font-size: 11px;
  border-bottom: 1px solid #222222;
  font-family: Trebuchet MS, Arial;
  font-weight: normal;
}
div.editorSubmit {
  margin: 10px 12px 12px 0px;
  text-align: right;
}
.editor input[type=submit] {
  font-family: Trebuchet MS, Arial;
  font-size: 11px;
  font-weight: bold;
  background-color: #AAFFAA;
  border-color: #AAFFAA;
}
.editor input[type=reset] {
  font-family: Trebuchet MS, Arial;
  font-size: 11px;
  font-weight: bold;
  background-color: #FFAAAA;
  border-color: #FFAAAA;
  margin-right: 40px;
}
div.timeEditor {
  margin-left : 0px;
  margin-right : 0px;
  padding : 0px;
}
.timeEditor input {
  text-align: center;
  margin-right: 1px;
}
div.listEditor {
  margin-left : 0px;
  margin-right : 0px;
  padding : 0px;
}
.listEditor select {
  width: 100%;
  background-color: #DDDDDD;
  font-family: Trebuchet MS, Arial;
  font-weight: normal;
  border: 0px;
}
.listEditor input[type=text] {
  margin-bottom: 2px;
}
.listEditor ul {
  margin: 0px;
  padding: 0px;
  height: 10em;
  background-color: #222222;
  border-bottom: 1px solid #666666;
  overflow: auto;
  list-style: none;
}
.listEditor li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.listOrNewSeparator {
  margin: 0px;
  text-align: center;
}
div.locationEditor {
  margin-left : 0px;
  margin-right : 0px;
  padding : 0px;
}
.locationEditor div {
  margin-left : 0px;
  margin-right : 0px;
  padding : 0px;
}
div.google_map {
  padding: 8px;
  height: 10em;
  width: 100%;
  padding-left: 0px;
}
.google_map div {
  margin-left : 0px;
  margin-right : 0px;
  padding : 0px;
}

div.slideshow {
  background-color: #222;
}


div.exif {
  height: 100%;
  overflow: auto;
}
.exif h4 {
  font-family: Arial, Sans-Serif;
  margin: 0px;
  text-align: right;
}
.exif p {
  margin: 0px;
}
.exif td {
  padding: 0px;
  padding-left: 2px;
}
