body {
  overflow: hidden;
  background: #33363B;
  color: #CCCCCC;
  font-family: URW Gothic L, Arial;
  font-size: 11px;
}

h3 {
  color: white;
}


.login {
  display: none;
}

#sign_in {
  display: none;
}

#login_form {
  vertical-align: middle;
}

.login input {
  font-family: Trebuchet MS, Arial;
  vertical-align: middle;
  font-size: 12px;
  border-width: 1px;
}

.login input[type=text], .login input[type=password] {
  width: 80px;
  padding: 1px;
  border-width: 0px;
  background-color: #CCCCCC;
}

.logout {
  display: none;
}

#currentLocation {
  z-index: 10;
  position:absolute;
  left: 0px;
  top: 0px;
  height: 18px;
  width: 100%;
  background: black;
  color: #99969B;
  background: url(80_opacity_black.png);
  text-indent: 2px;
}

#currentLocation a {
  color: #CCCCCC;
  font-weight: bold;
}

#zogen {
  left:0px;
  top: 18px;
}

.portal {
  background: #33363B;
  width: 700px;
  height: 600px;
  overflow:hidden;
}

.portal h2 {
  margin: 0px;
  color: #FFFFFF;
  font-family: URW Gothic L, Arial;
}


#status {
  position:absolute;
  color: #000000;
  top: 10px;
  left: 522px;
}

#midPoint{
  position:absolute;
  background: red;
  width: 10px;
  height: 10px;
  top: 0px;
  left: 0px;
  z-index:10;
}

.floater {
  background: url(80_opacity_black.png);
  position: absolute;
  z-index: 8;
  padding: 4px;
  margin-left: 5px;
  margin-top: 10px;
  color: #FFFFFF;
  font-family: URW Gothic L, Arial;
  font-weight: bold;
}

.floaterTitle {
  text-align: center;
  margin-top: -2px;
  margin-bottom: 0px;
  margin-left: 44px;
}

.floaterButtons {
  margin-bottom:-14px;
  margin-top:2px;
  text-align:left;
}
.floaterButtons img {
  margin-left: 2px;
  margin-right: 3px;
}

.infoTitle + .floaterContent {
  margin-top: 2px;
  border-top: 1px dotted #888;
}

.editDiv img {
  margin-left: 5px;
}

.infoLayer {
  display: none;
  background: url(80_opacity_black.png);
  position: absolute;
  z-index: 8;
  padding: 4px;
  margin-left: 5px;
  margin-top: 10px;
  color: #CCCCCC;
  font-family: URW Gothic L, Arial;
  font-weight: bold;
}

.infoTitle {
  margin-top: -2px;
  margin-bottom: 0px;
  margin-left: 44px;
}

.editable:hover {
  color: #ffdd66;
}

.infoLayer img {
  vertical-align: middle;
}

.emblemImage16 {
  z-index: 2;
}
.emblemImage32 {
  z-index: 2;
}

a.emblemText16 {
  color: white;
  text-decoration: none;
}
a.emblemText32 {
  color: white;
  text-decoration: none;
}
a.emblemText16:visited {
  color: #DDDDDD;
}
a.emblemText32:visited {
  color: #DDDDDD;
}

.emblemText16 {
  position: absolute;
  left: 8px;
  top: 0px;
  height: 16px;
  font-family: URW Gothic L, Arial;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  padding-left:12px;
  padding-right:4px;
  background: url(80_opacity_black.png);
  z-index: 1;
}
.emblemText32 {
  position: absolute;
  left: 16px;
  top: 8px;
  height: 16px;
  font-family: URW Gothic L, Arial;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  padding-left:20px;
  padding-right:4px;
  background: url(80_opacity_black.png);
  z-index: 1;
}

a {
  color: white;
}

a:visited {
  color: #AAAAAA;
}

.editor {
  background: url(80_opacity_black.png);
  min-width: 450px;
  min-height: 540px;
  width: 450px;
  height: 540px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.editor h3 {
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 6px;
}
.editor h4 {
  font-size: 13px;
  text-align: center;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 1px solid #CCCCCC;
  margin-top: 2px;
  margin-bottom: 2px;
}
.editor h5 {
  font-size: 11px;
  margin-bottom: 0px;
  margin-top: 4px;
}

.editor div {
  margin-left: 5%;
  margin-right: 5%;
  background: none;
}

.editor input[type=text] {
  width: 100%;
  background-color: #DDDDDD;
  font-family: Trebuchet MS, Arial;
  font-weight: normal;
  border: 0px;
}
.editor textarea {
  width: 100%;
  background-color: #DDDDDD;
  font-family: Trebuchet MS, Arial;
  font-weight: normal;
  border: 0px;
}
div.editorSubmit {
  margin: 4px;
  text-align: center;
}
.editor input[type=submit] {
  font-family: Trebuchet MS, Arial;
  font-size: 11px;
  font-weight: bold;
  background-color: #AAFFAA;
  border-color: #AAFFAA;
}
.editor input[type=reset] {
  font-family: Trebuchet MS, Arial;
  font-size: 11px;
  font-weight: bold;
  background-color: #FFAAAA;
  border-color: #FFAAAA;
  margin-right: 40px;
}
div.timeEditor {
  margin-left : 0px;
  margin-right : 0px;
  padding : 0px;
}
.timeEditor input {
  text-align: center;
  margin-right: 1px;
}
div.listEditor {
  margin-left : 0px;
  margin-right : 0px;
  padding : 0px;
}
.listEditor select {
  width: 100%;
  background-color: #DDDDDD;
  font-family: Trebuchet MS, Arial;
  font-weight: normal;
  border: 0px;
}
.listEditor input[type=text] {
  margin-bottom: 2px;
}
.listEditor ul {
  margin: 0px;
  padding: 0px;
  height: 80px;
  overflow: auto;
  list-style: none;
}
.listEditor li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.listOrNewSeparator {
  margin: 0px;
  text-align: center;
}
div.locationEditor {
  margin-left : 0px;
  margin-right : 0px;
  padding : 0px;
}
.locationEditor div {
  margin-left : 0px;
  margin-right : 0px;
  padding : 0px;
}
span.google_map {
  padding: 8px;
  height: 524px;
  width: 400px;
  padding-left: 0px;
  background: url(80_opacity_black.png);
}
.google_map div {
  margin-left : 0px;
  margin-right : 0px;
  padding : 0px;
}

.infoLink {
  color: white;
  margin-left: 4px;
}

.infoDiv {
  padding-left: 0px;
  padding-right: 0px;
}

.infoDiv p {
  padding-top: 0px;
  padding-bottom: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.infoDiv p+p {
  padding-top: 0px;
}

.infoDivLink {
  color: white;
  text-decoration: none;
}

.infoText {
  background: url(80_opacity_black.png);
  position: absolute;
  z-index: 3;
  color: white;
  font-family: URW Gothic L, Arial;
  font-weight: bold;
  overflow: hidden;
}

.info {
  position: absolute;
  z-index: 3;
}

.itemLink {
  display: block;
  position: absolute;
}
