#currentLocation {
  z-index: 10;
  position:absolute;
  left: 0px;
  top: 0px;
  height: 16px;
  width: 100%;
  padding-bottom: 2px;
  padding-top: 0px;
  background: black;
  color: #99969B;
  text-indent: 2px;
}

#currentLocation a {
  color: #99969B;
}

input { display:block; }

img { display:block; }

#zogen {
  position:absolute;
  background: #33363B;
  left:0px;
  top: 18px;
  width: 700px;
  height: 600px;
  overflow:hidden;
}

#status {
  position:absolute;
  color: #000000;
  top: 10px;
  left: 522px;
}

#midPoint{
  position:absolute;
  background: red;
  width: 10px;
  height: 10px;
  top: 0px;
  left: 0px;
  z-index:10;
}

.infoLayer {
  display: none;
  background: url(/zogen/50_opacity_black.png);
  position: absolute;
  z-index: 8;
  padding: 4px;
  margin-left: 5px;
  margin-top: 10px;
  color: #CCCCCC;
  font-family: URW Gothic L, Arial;
  font-weight: bold;
  font-size: 10px;
}

.infoLayer h3 {
  color: white;
  margin-top: 0px;
  margin-bottom: 6px;
}

.editable:hover {
  color: #ffdd66;
}

.infoLayer img {
  vertical-align: middle;
}

.infoLayer div {
  background: url(/zogen/80_opacity_black.png);
}

a {
  color: white;
}

a:visited {
  color: #AAAAAA;
}

.editor {
  background: url(/zogen/80_opacity_black.png);
  min-width: 400px;
  min-height: 450px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.editor h3 {
  text-align: center;
  margin-top: 8px;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 6px;
}
.editor h4 {
  text-align: center;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 1px solid #CCCCCC;
  margin-top: 2px;
  margin-bottom: 2px;
}
.editor h5 {
  margin-bottom: 0px;
  margin-top: 4px;
}

.editor div {
  margin-left: 5%;
  margin-right: 5%;
  background: none;
}

.editor input[type=text] {
  width: 100%;
  background-color: #DDDDDD;
  font-family: Trebuchet MS, Arial;
  font-weight: normal;
  border: 0px;
}
div.editorSubmit {
  margin: 4px;
  text-align: center;
}
.editor input[type=submit] {
  font-family: Trebuchet MS, Arial;
  font-weight: bold;
  background-color: #CCFFCC;
  display: inline;
}
.editor input[type=reset] {
  font-family: Trebuchet MS, Arial;
  font-weight: bold;
  background-color: #FFCCCC;
  display: inline;
  margin-right: 40px;
}

.infoLink {
  color: white;
  margin-left: 4px;
}

.infoDiv {
  padding-left: 4px;
  padding-right: 4px;
}

.infoDiv p {
  padding-top: 1px;
  padding-bottom: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.infoDiv p+p {
  padding-top: 0px;
}

.infoDivLink {
  color: white;
  text-decoration: none;
}

.infoText {
  background: url(/zogen/50_opacity_black.png);
  position: absolute;
  z-index: 7;
  color: white;
  font-family: URW Gothic L, Arial;
  font-weight: bold;
  font-size: 10px;
  overflow: hidden;
}

.info {
  position: absolute;
  z-index: 6;
}

.itemLink {
  display: block;
  position: absolute;
}
