iframe {
  border: 0px;
}

.editable:hover {
  color: #ffc840;
}

.editButton {
  text-decoration: none;
}

.button {
  text-decoration: none;
}
.button img {
}
.button span {
  margin-right: 0.5ex;
  margin-left: 0.5ex;
  font-family: URW Gothic L, Trebuchet MS, Sans-Serif;
  font-weight: bold;
}

.window {
  min-width: 100px;
  min-height: 20px;
  border-bottom: 1px solid black;
}
.focused .windowTitle {
  color: white;
}
.blurred .windowTitle {
  color: silver;
}
.focused > .windowTaskbarTitle {
  color: white;
}
.blurred > .windowTaskbarTitle {
  color: silver;
}
.windowBorder {
  overflow: hidden;
  padding: 4px;
}
.windowBackground {
  background-color: #33363C;
}
/*.default .windowBackground {
  background-color: #444444;
  opacity: 1;
  border-bottom: 1px solid #222222;
  border-top: 1px solid #505050;
}*/

.windowTitlebar {
  margin: 0px;
  padding: 0px;
}
.windowTitle {
  color: white;
  cursor: default;
  font-family: Arial, Sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-left: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 4px;
  float: left;
}
.windowTaskbarTitle {
  margin: 0px;
  font-family: URW Gothic L, Arial, Sans-serif;
  padding-top: 1px;
  padding-bottom: 3px;
  cursor: pointer;
  font-size: 12px;
  z-index: 1px;
}
.windowButtons {
  text-align: right;
  position: relative;
  left: -1px;
  z-index: 0;
}
.windowButtons a {
  margin: 0px;
  line-height: 0px;
  margin-left: 3px;
  margin-right: 3px;
}
.windowContent {
  clear: both;
  margin-top: 5px;
  padding-top: 2px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-top: 1px dotted #888;
  font-size: 11px;
  color: white;
  overflow: hidden;
}
.windowContent a {
  color: white;
}
.windowContent a:visited {
  color: silver;
}
.windowContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.taskbar {
  width: 150px;
  display: block;
  overflow: hidden;
  cursor: default;
}
.taskbarForm {
  margin: 2px;
}
.taskbarFormTitle {
  margin: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 10px;
}
.taskbarTextInput {
  background-color: #CCCCCC;
  margin: 0px;
  padding: 2px;
  width: 144px;
  border: 1px #ffc840;
}
.taskbarSubmitInput {
  margin: 0px;
  margin-top: 6px;
  margin-bottom: 0px;
  font-size: 10px;
}
.windowGroupAppletList {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.windowGroupTitle {
  color: #ffc840;
  margin: 0px;
  margin-bottom: 2px;
  margin-top: 4px;
  border-bottom: 1px dotted;
  font-family: Arial, Sans-serif;
  font-size: 16px;
}
.windowList {
  margin: 0px;
  margin-left: 8px;
  padding: 0px;
  list-style: none;
}
.windowListEntry {
}
.windowListEntry {
  border-bottom: 1px solid #555;
}

.root {
  border: none;
  margin: 0px;
  padding: 0px;
}
.root .windowContent {
  border: none;
  margin: 0px;
  padding: 0px;
}
.root .windowBackground {
  background-color: transparent;
  opacity: 1;
}
.root .windowBorder {
  margin: 0px;
  padding: 0px;
}

.panel {
  cursor: default;
}
.panel h5 {
  font-size: 1em;
  margin: 0px;
  padding: 0px;
}
.panel .windowContent {
  display: inline;
  border: none;
}
.panel .windowBackground {
  background-color: #000;
  opacity: 0.8;
}


.topPanel .taskbar {
  display: inline;
  width: inherit;
}
.topPanel .windowGroup {
  display: inline;
}
.topPanel .windowGroupTitle {
  display: inline;
  color: #ffc840;
  padding-right: 6px;
  padding-left: 8px;
  margin-left: 4px;
  border-left: 1px dotted;
  border-bottom: none;
}
.topPanel .windowTaskbarTitle {
  display: inline;
}
.topPanel .windowGroupAppletList {
  display: inline;
}
.topPanel .windowList {
  display: inline;
  margin-left: 0px;
}
.topPanel .windowListEntry {
  display: inline;
  margin-right: 6px;
}
.topPanel .windowListEntry {
  padding-left: 6px;
  border: none;
  border-left: 1px solid #555;
}
.topPanel .windowTaskbarEntry {
  display: inline;
}
.topPanel .taskbarForm {
  display: inline;
  margin-right: 8px;
}
.topPanel .taskbarFormTitle {
  display: none;
}
.topPanel .taskbarTextInput {
  width: 10em;
}
.bottomPanel .taskbar {
  display: inline;
  width: inherit;
}
.bottomPanel .windowGroup {
  display: inline;
}
.bottomPanel .windowGroupTitle {
  display: inline;
  color: #ffc840;
  padding-right: 6px;
  padding-left: 8px;
  margin-left: 4px;
  border-left: 1px dotted;
  border-bottom: none;
}
.bottomPanel .windowTaskbarTitle {
  display: inline;
}
.bottomPanel .windowGroupAppletList {
  display: inline;
}
.bottomPanel .windowList {
  display: inline;
  margin-left: 0px;
}
.bottomPanel .windowListEntry {
  display: inline;
  margin-right: 6px;
}
.bottomPanel .windowListEntry {
  padding-left: 6px;
  border: none;
  border-left: 1px solid #555;
}
.bottomPanel .windowTaskbarEntry {
  display: inline;
}
.bottomPanel .taskbarForm {
  display: inline;
  margin-right: 8px;
}
.bottomPanel .taskbarFormTitle {
  display: none;
}
.bottomPanel .taskbarTextInput {
  width: 10em;
}


.leftPanel {
  border-right: 1px solid #555;
}
.rightPanel {
  border-left: 1px solid #555;
}
.topPanel {
  border-bottom: 1px solid #555;
}
.bottomPanel {
  border-top: 1px solid #555;
}


.setList {
  padding-left: 16px;
  list-style: square;
}
.setList a {
  text-decoration: none;
  color: #DDD;
}
.setList a:hover {
  color: white;
}


.dragged {
  cursor: move;
  background-color: #222;
  border: 4px solid #222;
  opacity: 0.8;
}

.slider {
  margin-top: 4px;
  margin-bottom: 3px;
  height: 0.5ex;
  border-bottom: 0.16666ex solid #ffc840;
  border-left: 1px solid #ffc840;
  border-right: 1px solid #ffc840;
}
.sliderLoaded {
  position: relative;
  top: 0.33333ex;
  height: 0.16666ex;
  border-top: 0.16666ex solid #ffc840;
  width: 0px;
}
.sliderKnob {
  position: relative;
  top: -0.33333ex;
  height: 0.33333ex;
  background-color: black;
  border-top: 0.33333ex solid #ffc840;
  width: 0px;
}

#MusicPlayer_playlist {
  margin-left: 0px;
  margin-right: 16px;
}
#MusicPlayer_playlist a {
  color: white;
}
#MusicPlayer_playlist .selected {
  background-color: #355;
}
#MusicPlayer_playlist .current {
  color: #ffc840;
}
#MusicPlayer_playlist .current:before {
  content: "> ";
}
#MusicPlayer_playlist .current a {
  color: #ffc840;
}
#MusicPlayer_playlist .selected a {
  background-color: #355;
}
.MusicPlayer .button img {
  position: relative;
  top: 2px;
}

.MusicPlayer .Shuffle img {
  top: -1px;
  margin-right: 5px;
  margin-left: 11px;
}
.MusicPlayer .Repeat img {
  top: -1px;
  margin-right: 10px;
}
.MusicPlayer .Playlist img {
  top: 0px;
  margin-right: 8px;
}
.MusicPlayer .VolumeUp img {
  top: -1px;
  margin-left: 0px;
  margin-right: 2px;
}
.MusicPlayer .VolumeDown img {
  top: -1px;
  margin-right: 2px;
}
.MusicPlayer .SongInfo {
  width: 150px;
  overflow: hidden;
}
.topPanel .MusicPlayer .SongInfo {
  display: inline;
}
.bottomPanel .MusicPlayer .SongInfo {
  display: inline;
}
.MusicPlayer .CurrentSeek {
  margin-right: 5px;
  color: #ffc840;
  font-weight: bold;
  font-family: Arial, Sans-serif;
}
.MusicPlayer .CurrentIndex {
  display: inline;
  color: #ffc840;
  font-weight: bold;
  font-family: Arial, Sans-serif;
}
.MusicPlayer .IndexSeparator {
  display: inline;
  color: #ffc840;
  font-weight: bold;
  font-family: Arial, Sans-serif;
}
.MusicPlayer .IndexSeparator:before {
  content: '/';
}
.MusicPlayer .PlaylistLength {
  display: inline;
  margin-right: 5px;
  color: #ffc840;
  font-weight: bold;
  font-family: Arial, Sans-serif;
}
.MusicPlayer .CurrentlyPlaying {
  display: inline;
  font-family: Arial, Sans-Serif;
}

.Menu {
  opacity: 0.9;
  z-index: 100;
  background: black;
  color: white;
  list-style: none;
  margin: 2px;
  padding: 0px;
  cursor: default;
  padding-bottom: 8px;
  padding-top: 2px;
  font-size: 11.5px;
  font-family: Trebuchet MS, Sans-Serif;
}
li.MenuItem {
  padding-top: 0.5ex;
  padding-bottom: 0.333ex;
  padding-left: 1.333ex;
  padding-right: 1.333ex;
}
li.MenuItem:hover {
  background: #ffc840;
  color: black;
}
.SubMenu:before {
  content: url(icons/submenu.png);
  display:block;
  vertical-align:middle;
  text-align:right;
  height: 0px;
}
.Menu li.disabled {
  color: white;
  opacity: 0.3;
}
.Menu li.disabled:hover {
  background: none;
  color: white;
}
.MenuItem img {
  vertical-align: top;
  margin-right: 0.666ex;
}
.MenuTitle h4 {
  margin: 0px;
  padding: 2px;
  padding-left: 0px;
  margin-left: 8px;
  padding-right: 4px;
  color: #ffc840;
  border-bottom: 1px dotted;
  margin-bottom: 2px;
}
.MenuSeparator {
  height: 0px;
  border-bottom: 1px solid #555;
  margin-left: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
}


#desktop {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
